<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Successful</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="signup-box">
        <div class="signup-container">
            <h1>Log in Successful!</h1>
            <p>You have successfully logged into our website.</p>
            <a href="index.html">Go back to homepage</a>
        </div>
    </div>
</body>
</html>
