@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#247ba0;
   --black:#222;
   --white:#fff;
   --tomato:#fd5e42;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--main-color);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

* {
   font-family: 'Poppins', sans-serif;
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}

.banner-container {
   position: relative;
   max-width: 100%;
   overflow: hidden;
 }

.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   z-index: 1;
 }

.heading h1{
   font-size: 10rem;
   text-transform: uppercase;
   color:var(--white);
   text-shadow: var(--text-shadow);
}

.btn{
   display: inline-block;
   background: var(--tomato);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   cursor: pointer;
}

.btn:hover{
   background: var(--main-color);
}

.heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}

.header{
   position: sticky;
   top:0; 
   left:0; 
   right:0;
   z-index: 100;
   background-color: var(--white);
   display: flex;
   padding-top: 0rem;
   padding-bottom: 0rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
}

.header a img {
   margin: 1rem 0 0 10rem;
   width: 8rem;
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color:#247ba0;
   text-transform: uppercase;
}

.header .navbar a:hover{
   color:var(--tomato);
}

#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}

.header #signupButton, .header #loginButton {
   border: 1px solid var(--main-color);
   border-radius: 5%;
   padding: 3px;
   background-color: var(--main-color);
   color: var(--tomato);
}
.header #signupButton:hover, .header #loginButton:hover {
   color: var(--white);
}

/* Styling for the Sign Up Modal */
.signup-modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
 }
 
 .signup-modal  .modal-content {
   background-color: #fff;
   max-width: 400px;
   margin: 100px auto;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }

 .signup-modal .modal-content img {
   display: block;
   width: 100px;
   margin: 0 auto;
 }
 

 #signupForm p {
   text-align: center;
   margin: 10px 0;
   font-size: 1.2rem;
 }
 
 .signup-modal .close-button {
   float: right;
   font-size: 24px;
   cursor: pointer;
 }
 
 .signup-modal h2 {
   margin-top: 0;
   font-size: 2.5rem;
   text-align: center;
 }
 
 .signup-modal form {
   display: flex;
   flex-direction: column;
 }
 
 .signup-modal label {
   margin-top: 10px;
   font-size: 1.5rem;
 }
 
 .signup-modal input {
   padding: 8px;
   margin-top: 5px;
   border: var(--border);
 }
 
 button[type="submit"] {
   margin-top: 10px;
   background-color: var(--main-color);
   color: var(--white);
   padding: 8px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 button[type="submit"]:hover {
   background-color: var(--tomato);
   color: var(--white)
 }


 /* Styling for the Login Modal */
 .form-container {
   display: flex;
   flex-direction: column;
    align-items: center; /* Adjust alignment as needed */
 }

.login-modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
 }
 
 .login-modal .modal-content {
   background-color: #fff;
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 400px;
   margin: 100px auto;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }

 .login-modal .modal-content img {
   display: block;
   width: 100px;
   margin: 0 auto;
 }
 
 #loginForm p {
   text-align: center;
   margin: 10px 0;
   font-size: 1.2rem;
 }

 .login-modal .close-button {
   float: right;
   font-size: 24px;
   cursor: pointer;
 }
 
 .login-modal h2 {
   font-size: 2.5rem;
   margin-top: 0;
   text-align: center;
 }
 
 .login-modal form {
   display: flex;
   flex-direction: column;
 }
 
 .login-modal label {
   margin-top: 10px;
   font-size: 1.5rem;
 }
 
 .login-modal input, select {
   padding: 8px;
   margin-top: 5px;
   width: 100%; /* Adjust the width as needed */
   border: var(--border);
 }
 
 #loginForm button[type="submit"] {
   margin-top: 10px;
   background-color: var(--main-color);
   color: #fff;
   padding: 8px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: 100%;
 }

 #loginForm button[type="submit"]:hover {
   background-color: var(--tomato);
   color: var(--white);
 }

 .navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
 }

 /* The logout modal styles */
.logoutModal {
   display: none;
   position: fixed;
   z-index: 3;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.4);
 }

 #logoutForm p {
   margin-top: 2rem;
   font-size: 1.2rem;
   text-align: center;
 }
 
 .logoutModal .modal-content {
   background-color: var(--white);
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 60%;
   max-width: 300px;
 }

 .logoutModal .modal-content img {
   display: block;
   width: 100px;
   margin: 0 auto;
 }
 
 .logoutModal .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   cursor: pointer;
 }
 
 .logoutModal .close:hover,
 .logoutModal .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }
 
 /* Button styles */
 .logoutModal button {
   padding: 10px 20px;
   margin-bottom: 10px;
   margin-right: 10px;
   background-color: var(--main-color);
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 100%;
 }
 
 .logoutModal button:hover {
   background-color: var(--tomato);
 }

 /* Profile Dropdown Styles */
 #profile-dropdown {
   position: relative;
 }

 #profile-dropdown img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin: 0 20px;
   border: 1px solid var(--light-black);
 }

  .dropdown-menu {
   display: none;
   position: absolute;
   align-self: center;
   top: 100%;
   right: -30%;
   z-index: 1001;
   border-radius: 4px;
   background-color: var(--white);
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   min-width: 125px;
   padding: 10px;
 }

  .dropdown-menu li {
   text-decoration: none;
   list-style: none;
 }

  .dropdown-menu a:hover {
   color: var(--tomato);
 }
 
 .main-content {
   padding: 20px;
 }

.home{
   padding:0;
}

.home .slide{
   text-align: center;
   width: 100%;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover !important;
   background-position: center !important;
   min-height: 60rem;
}

.home .slide .content{
   width: 85rem;
   display: none;
}

.home .swiper-slide-active .content{
   display: inline-block;
}

.home .slide .content span {
   font-size: 5vw;
   color:var(--white);
   text-transform: uppercase;
   line-height: 1;
   text-shadow: var(--text-shadow);
   padding:1rem 0;
   display: block;
}

.home .slide .content .btn{
   animation:fadeIn .2s linear backwards .6s;
}

.home .swiper-button-next,
.home .swiper-button-prev{
   height: 5rem;
   width: 5rem;
   background: var(--tomato);
   color:var(--white);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
   background: var(--main-color);
   color:var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after{
   font-size: 2rem;
}

.home .swiper-button-prev{
   right: 7rem;
}

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
   gap: 1.5rem;
}
.partner .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 2fr));
   gap: 3rem;
}

.services .box-container .box{
   padding:3rem 2rem;
   text-align: center;
   background: var(--main-color);
   cursor: pointer;
}

.services .box-container .box:hover{
   background: var(--tomato);
}

.services .box-container .box img{
   height: 7rem;
}

.services .box-container .box h3{
   color:var(--white);
   font-size: 1.7rem;
   padding-top: 1rem;
}

.home-about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.home-about .image{
   flex:1 1 41rem;
}

.home-about .image img{
   width: 100%;
}

.home-about .content{
   flex:1 1 41rem;
   padding:3rem;
   background: var(--light-bg);
}

.home-about .content h3{
   font-size: 3rem;
   color:var(--black);
}

.home-about .content p{
   font-size: 1.5rem;
   padding:1rem 0;
   line-height: 2;
   color:var(--black);
   text-align: justify;
}

.home-packages{
   background: var(--light-bg);
}

.home-packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.home-packages .box-container .box{
 /*  border:var(--border);*/
   box-shadow: var(--box-shadow);
   background: var(--white);
}

.home-packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.home-packages .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.home-packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.home-packages .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.home-packages .box-container .box .content h3{
   font-size: 2.5rem;
   color:var(--black);
}

.home-packages .box-container .box .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.home-packages .load-more{
   text-align: center;
   margin-top: 2rem;
}

.home-offer {
   text-align: center;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
   gap: 3rem;
}

.home-offer .content{
   max-width:70rem;
   margin:0 auto;
}

.home-offer .content h3{
   font-size: 3.5rem;
   text-transform: uppercase;
   color:var(--black);
}

.home-offer .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
   text-align: justify;
}
.offerimage img{
   width: 100%;
}

.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:3rem;
}

.about .image{
   flex:1 1 41rem;
}

.about .image img{
   width: 100%;
}

.about .content{
   flex:1 1 41rem;
   text-align: center;
}

.about .content h3{
   font-size: 3rem;
   color:var(--black);
}

.about .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
   text-align: justify;
}

.about .content .icons-container{
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: flex-end;
}

.about .content .icons-container .icons{
   background: var(--light-bg);
   padding:2rem;
   flex:1 1 16rem;
}

.about .content .icons-container .icons i{
   font-size: 4rem;
   margin-bottom: 2rem;
   color:var(--main-color);
}

.about .content .icons-container .icons i:hover {
   transform: scale(1.5);
}

.about .content .icons-container .icons span{
   font-size: 1.5rem;
   color:var(--light-black);
   display:block;
}

.reviews{
   background: var(--light-bg);
}

.reviews .slide{
   padding:2rem;
   border:var(--border);
   background: var(--white);
   text-align: center;
   box-shadow: var(--box-shadow);
   user-select: none;
}

.reviews .slide .stars{
   padding-bottom: .5rem;
}

.reviews .slide .stars i{
   font-size: 1.7rem;
   color:var(--main-color);
}

.reviews .slide p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
   text-align: justify;
}

.reviews .slide h3{
   font-size: 2rem;
   color:var(--black);
}

.reviews .slide span{
   font-size: 1.5rem;
   color:var(--main-color);
   display: block;
}

.reviews .slide img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   margin-top: 1rem;
}

.packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
   grid-auto-rows: minmax(0, 1fr); /* Set a fixed row height */
   gap: 5rem;
}

.packages .box-container .box{
   border: var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
}


.packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.packages .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.packages .box-container h2.needed {
   margin-top: 4rem;
}

.packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.packages .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.packages .box-container .box .content h3{
   font-size: 2.5rem;
   color:var(--black);
}

.packages .box-container .box .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding: 1rem 0;
}
/* Package Modal */
.packages-container {
   position: relative; /* Required for modal positioning */
 }

.packageModal1, .packageModal2, .packageModal3, .packageModal4, .packageModal5, .packageModal6, .packageModal7, .packageModal8, .packageModal9, .packageModal10, .packageModal11, .packageModal12 {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   border: var(--border);
   box-shadow: var(--box-shadow);
 }
 
 .packageModalContent {
   background-color: #fff;
   margin: 15% auto;
   padding: 20px;
   border-radius: 10px;
   border: 2px solid var(--main-color);
   width: 80%;
   max-width: 680px;
   position: absolute; 
   top: 50%; 
   left: 50%;
   transform: translate(-50%, -50%); 
   overflow-y: auto;
   max-height: 80%;
 }

 .packageModalContent img {
   max-width: 100%; 
   height: auto; 
}

 .image-scroll-container {
   display: flex;
   overflow-x: scroll;
 }
 
 .image-scroll-container img {
   max-width: 100%;
   height: auto;
   margin-right: 10px;
 }
 
 .tour-description {
   margin-top: 20px;
   font-size: 1.2rem;
 }
 
.bookNow {
   position: absolute;
   bottom: 10px;
   right: 50%;
   transform: translateX(50%);
   padding: 10px;
   background-color: var(--tomato);
   color: var(--white);
 }

 .bookNow:hover {
   background: var(--main-color);
   cursor: pointer;
 }

 .mb {
   margin-bottom: 20px;
 }

/* Booking Form */
.booking .book-form {
   padding:2rem;
   background: var(--light-bg);
   text-align: center;
}

.booking .book-form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
}

.booking .book-form .flex .inputBox{
   flex:1 1 41rem;
}

.booking .book-form .flex .inputBox input{
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.6rem;
   color:var(--light-black);
   text-transform: none;
   margin-top: 1.5rem;
   border:var(--border);
}

.booking .book-form .flex .inputBox input:focus{
   background: var(--black);
   color:var(--white);
}

.booking .book-form .flex .inputBox input:focus::placeholder{
   color:var(--light-white);
}

.booking .book-form .flex .inputBox span {
   font-size: 1.5rem;
   color:var(--light-black);
}

.booking .book-form .btn {
   margin-top: 2rem;
   width: 200px;
   align-self: center;
}
.content h2 {
   font-size: 25px;
   font-weight: normal;
   color: #247ba0;
}
.partner{
   text-align: center;
   cursor: pointer;
   padding: 10px 30px;
}
.scroll-top{
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 99;
        background: var(--tomato);
        color: #fff;
        border-radius: 50px;
        padding: 15px;
        font-weight: bold;
        line-height: normal;
        border: none;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
.footer{
   background: url(https://i.imgur.com/cW1gvE7.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box h3{
   color:var(--white);
   font-size: 2.5rem;
   padding-bottom: 2rem;
}

.footer .box-container .box a{
   color:var(--white);
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:var(--tomato);
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding-top: 3rem;
   margin-top: 3rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:var(--white);
}

.footer .credit span{
   color:var(--tomato);
}
.active{
   color: var(--tomato)!important;
}

/* success */
.sc-container {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .sc-container img {
   width: 200px;
   margin: 2rem 0;
 }
 
 .sc-container h1 {
   font-size: 2.8rem;
   margin-bottom: 10px;
 }
 
 .sc-container p {
   max-width: 600px;
   font-size: 2rem;
   text-align: center;
   margin: 0.5rem 0;
 }
 
 .sc-btn {
   padding: 12px 20px;
   border-radius: 5px;
   background: var(--main-color);
   color: var(--white);
   font-size: 1.5rem;
   font-weight: 500;
 }

 .sc-btn:hover {
   background-color: var(--tomato);
 }

 /* signup css */
 .signup-box {
   font-family: Arial, sans-serif;
   background-color: var(--light-bg);
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
 }

 .signup-container {
   text-align: center;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   background-color: #fff;
   max-width: 400px;
 }
 
 .signup-container h1 {
   font-size: 2.8rem;
   color: var(--main-color);
 }

 .signup-container p {
   font-size: 2rem;
 }
 
 .signup-container a {
   display: inline-block;
   margin-top: 20px;
   background-color: var(--main-color);
   color: var(--white);
   font-size: 1.5rem;
   text-decoration: none;
   border: 1px solid var(--main-color);
   padding: 10px 20px;
   border-radius: 5px;
   transition: background-color 0.3s ease;
 }
 
 .signup-container a:hover {
   background-color: var(--tomato);
   color: #fff;
 }

 /* Profile container */
 section #profile {
   height : 100vh;
 }

.profile-container {
   display: flex;
   flex-direction: column;
   max-width: 600px;
   margin: 20px auto;
   background-color: #fff;
   border: 1px solid var(--main-color);
   border-radius: 8px;
   padding: 20px;
 }

 .profile-container .profile-header h2 {
   font-size: 2.5rem;
   text-align: center;
 }

 .profile-container .profile-image #image-input {
   align-self: center;
 }
 
 /* Profile image */
 .profile-container .profile-image {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .profile-container .profile-image .btn{
   border-radius: 5px;
   background-color: var(--main-color);
 }

 .profile-container .profile-image .btn:hover {
   background-color: var(--tomato);
 }
 
 .profile-container .profile-image img {
   width: 120px;
   height: 120px;
   border-radius: 50%;
   border: 1px solid var(--light-black);
 }
 
 /* Profile info */
 .profile-container .profile-info {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
 }

 .profile-container .profile-info label {
   margin-top: 10px;
   font-size: 1.5rem;
 }

 .profile-container .profile-info input, select {
   padding: 8px;
   margin-top: 5px;
   width: 100%; /* Adjust the width as needed */
   border: var(--border);
 }
 
 .profile-container .full-name {
   font-size: 24px;
   margin-bottom: 10px;
 }
 
 .profile-container .email, .profile-container .password {
   font-size: 16px;
   margin-bottom: 10px;
 }
 
 
 /* Buttons */
 .profile-container .edit-account-btn,.profile-container .update-account-btn {
   background-color: var(--main-color);
   color: #fff;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-right: 10px;
   margin: 10px 0;
 }
 
 .profile-container .edit-account-btn:hover,.profile-container .update-account-btn:hover {
   background-color: var(--tomato);
 }

 .no-hover {
   pointer-events: none;
   cursor: default;
 }

 /* dashboard */
 #dashboard {
   height: 80vh;
 }

 #dashboard h2 {
   font-size: 5rem;
   text-align: center;
   margin-bottom: 2rem;
 }

 .dashboard {
   display: flex;
   justify-content: space-around;
   padding: 20px;
 }

 .dashboard h3 {
   margin: 0 auto;
   font-size: 3rem;
   text-align: center;
 }
 
 .upcoming-trips, .recent-bookings {
   width: 45%;
   border: 1px solid var(--main-color);
   padding: 20px;
   border-radius: 5px;
   text-align: center;
 }
 
 
 .dashboard ul {
   list-style-type: none;
   padding: 0;
   font-size: 1.5rem;
 }
 
 .dashboard li {
   margin-bottom: 20px;
 }

 #dashboard .promoImage {
   display: flex;
   justify-content: center;
   max-width: 100%; /* Scale the image to fit the container's width */
   height: auto; /* Maintain the aspect ratio */
 }

/* media queries  */

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .home .slide .content span{
      font-size: 10vw;
   }

}

@media (max-width:768px){

   .heading h1{
      font-size: 4rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top: 99%; 
      left: 0; 
      right: 0;
      background-color: var(--white);
      border-top: var(--border);
      padding: 2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      height: 15rem;
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
      text-align: center;
   }

   .dropdown-menu {
      top: -120%;
      right: -30%;
   }

   .header a img {
      margin: 1rem 0 0 1rem;
   }

}

@media (max-width:630px) {
   .header a img {
      margin: 1rem 0 0 0;
   }
   .header .navbar {
      position: absolute;
      top: -500px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background: #fff;
      box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
      border-top: 2px solid var(--main-color);
      transition: 0.2s;
      text-align: left;
      height: auto;
  }
  .header .navbar.active {
      top: 100%;
  }

  .dropdown-menu {
   top: -400%;
   right: -220%;
   }

  .header .navbar a {
      padding: 16px;
      display: block;
      color: var(--main-color);
  }
}
@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading-title{
      font-size: 3.5rem;
   }
   .logo img {
      width: 70%;
   }

   .header a img {
      margin: 1rem 0 0 0;
   }

   .home .slide .content span {
      font-size: 5vw;
      color:var(--white);
      text-transform: uppercase;
      line-height: 1;
      text-shadow: var(--text-shadow);
      padding:1rem 0;
      display: block;
   }

   .dropdown-menu {
      top: -400%;
      right: -200%;
      }
   
   .dashboard h3 {
      font-size: 2rem;
   }
}